<h1><%= title %></h1>

<%# Flash message %>
<% if (locals.messages && Object.keys(locals.messages).length > 0) { %>
    <div class="flash-messages">
        <% Object.keys(locals.messages).forEach(type => { %>
            <% if (locals.messages[type] && locals.messages[type].length > 0) { %>
                <% locals.messages[type].forEach(msg => { %>
                    <p class="<%= type %>"><%= msg %></p>
                <% }); %>
            <% } %>
        <% }); %>
    </div>
<% } %>

<p>Confirm Deletion - The delete is permanent.</p>

<form id="deleteForm" action="/inv/delete" method="post">
    <p>Please confirm that you want to delete the following inventory item. This action cannot be undone.</p>

    <label for="inv_make">Make: </label>
    <input 
        type="text"
        name="inv_make"
        id="inv_make"
        value="<%= inv_make %>"
        readonly
    >
    
    <label for="inv_model">Model: </label>
    <input 
        type="text"
        name="inv_model"
        id="inv_model"
        value="<%= inv_model %>"
        readonly
    >
    
    <label for="inv_year">Year:</label>
    <input 
        type="number" 
        name="inv_year" 
        id="inv_year" 
        value="<%= inv_year %>" 
        readonly
    >
    
    <label for="inv_price">Price: </label>
    <input 
        type="number" 
        name="inv_price" 
        id="inv_price"
        value="<%= inv_price %>"
        readonly
    >
    
    <button type="submit">Delete Vehicle</button>

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>